.container_publications_profile{
    display: flex;
    flex-direction: column;
    height: 510px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;
}

.title_publications_profile{
    font-family: "Outfit";
    font-size: 30px;
    padding: 15px;
}

.container_button_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_publications_profile{
    text-align: center;
    font-family: "Manrope";
    margin-top: 150px;
}

.button-create-publications-profile{
    width: 155px;
    height: 45px;
    border-radius: 8px;
    font-family: "Outfit";
    font-weight: 400;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    background-color: #285194;
    box-shadow: 0 4px 16px rgba(102, 126, 234, 0.3);
}

.button-create-publications-profile:hover{transform: translateY(-1px);}

.containerGeneral_ProductOwner{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 90px);
    gap: 30px;
    margin: 0 50px;
}

.containerProductOwner{
    position: relative;
    background-color: #fff;
    width: 35%;
    max-width: 350px;
    min-width: 250px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 14px 12px rgba(0, 0, 0, 0.1);
}

.img_Product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img_productOwner{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container_title_product{
    padding: 10px;
    border-bottom: 2px solid #e7e7e7;
    overflow-y: auto;
    max-height: 55px;
    word-wrap: break-word;
}

.title_Product{
    text-align: center;
    font-size: 20px;
    color: #285194;
    font-weight: 700;
    font-family: "Outfit";
}

.container_description_product{
    padding: 10px;
    text-align: left;
    max-width: 100%;
    max-height: 86px;
    border-bottom: 2px solid #e7e7e7;
    overflow-y: auto;
   word-wrap: break-word;
}

.container_open_dialog{padding: 10px;}

.ancla_open_dialog{cursor: pointer; color: #285194;}

.container_button_interactive{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#button_edit{background-color: #285194;}
#button_delete{ background-color: rgb(233, 70, 70);}


@media (max-width: 1010px) {
    .containerGeneral_ProductOwner {
        justify-content: center;
    }
    .containerProductOwner{
        width: 80%;
        max-width: 550px;
    }

}

@media(max-width: 773px){
    .info_publications_profile{font-size: 18px;}
    .container_publications_profile{ width: 320px;}
    .title_publications_profile{text-align: center;}
} 
