
.container_box_configuration {
    height: 460px !important;
    border-radius: 10px !important;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}

.titleTabs{
    font-family: "Outfit" !important;
}

@media(max-width: 500px){
    .inputs_form_profile{
        display: flex;
        flex-direction: column;

    }
}